<! DOCTYPE html>
<html lang= "en" xmls:th="http://thymeleaf.org">

<head>

<title> Registration Appointment </title>

<style>

	table, th, td {
		border-collapse: collapse;
		width: 10%;
		border: 2px solid black;
		text-align: center;
	}
	button {
		background-color: gray;
	}

</style>

</head>

<body style = "background-color:rgb(00,70,55);">



	<h1 style = text-align:center;> Registration Appointment </h1>
	
	<table align="center" cellspacing="10" cellpadding="10" style = "background-color:Gray";>
	
	<thead>
	
		<tr style="font-size: 25px;">
			<th> Monday </th>
			<th> Tuesday </th>
			<th> Wednesday </th>
			<th> Thursday </th>
			<th> Friday </th>
		</tr>
		
		<tr>
			<td><button>8 am</button></td>
			<td><button>8 am</button></td>
			<td><button>8 am</button></td>
			<td><button>8 am</button></td>
			<td><button>8 am</button></td>
		</tr>
		<tr>
			<td><button>8:15 am</button></td>
			<td><button>8:15 am</button></td>
			<td><button>8:15 am</button></td>
			<td><button>8:15 am</button></td>
			<td><button>8:15 am</button></td>
		</tr>
		<tr>
			<td><button>8:45 am</button></td>
			<td><button>8:45 am</button></td>
			<td><button>8:45 am</button></td>
			<td><button>8:45 am</button></td>
			<td><button>8:45 am</button></td>
		</tr>
		<tr>
			<td><button>9 am</button></td>
			<td><button>9 am</button></td>
			<td><button>9 am</button></td>
			<td><button>9 am</button></td>
			<td><button>9 am</button></td>
		</tr>
		<tr>
			<td><button>9:15 am</button></td>
			<td><button>9:15 am</button></td>
			<td><button>9:15 am</button></td>
			<td><button>9:15 am</button></td>
			<td><button>9:15 am</button></td>
		</tr>
		<tr>
			<td><button>9:30 am</button></td>
			<td><button>9:30 am</button></td>
			<td><button>9:30 am</button></td>
			<td><button>9:30 am</button></td>
			<td><button>9:30 am</button></td>
		</tr>
		<tr>
			<td><button>9:45 am</button></td>
			<td><button>9:45 am</button></td>
			<td><button>9:45 am</button></td>
			<td><button>9:45 am</button></td>
			<td><button>9:45 am</button></td>
		</tr>
		<tr>
			<td><button>10 am</button></td>
			<td><button>10 am</button></td>
			<td><button>10 am</button></td>
			<td><button>10 am</button></td>
			<td><button>10 am</button></td> 
		</tr>
		<tr>
			<td><button>10:15 am</button></td>
			<td><button>10:15 am</button></td>
			<td><button>10:15 am</button></td>
			<td><button>10:15 am</button></td>
			<td><button>10:15 am</button></td> 
		</tr>
		<tr>
			<td><button>10:30 am</button></td>
			<td><button>10:30 am</button></td>
			<td><button>10:30 am</button></td>
			<td><button>10:30 am</button></td>
			<td><button>10:30 am</button></td>
		</tr>
		<tr>
			<td><button>10:45 am</button></td>
			<td><button>10:45 am</button></td>
			<td><button>10:45 am</button></td>
			<td><button>10:45 am</button></td>
			<td><button>10:45 am</button></td> 
		</tr>
		<tr>
			<td><button>11 am</button></td>
			<td><button>11 am</button></td>
			<td><button>11 am</button></td>
			<td><button>11 am</button></td>
			<td><button>11 am</button></td> 
		</tr>
		<tr>
			<td><button>11:15 am</button></td>
			<td><button>11:15 am</button></td>
			<td><button>11:15 am</button></td>
			<td><button>11:15 am</button></td>
			<td><button>11:15 am</button></td> 
		</tr>
		<tr>
			<td><button>11:30 am</button></td>
			<td><button>11:30 am</button></td>
			<td><button>11:30 am</button></td>
			<td><button>11:30 am</button></td>
			<td><button>11:30 am</button></td> 
		</tr>
		<tr>
			<td><button>11:45 am</button></td>
			<td><button>11:45 am</button></td>
			<td><button>11:45 am</button></td>
			<td><button>11:45 am</button></td>
			<td><button>11:45 am</button></td> 
		</tr>
		<tr>
			<td><button>12 pm</button></td>
			<td><button>12 pm</button></td>
			<td><button>12 pm</button></td>
			<td><button>12 pm</button></td>
			<td><button>12 pm</button></td> 
		</tr>
		<tr>
			<td><button>12:15 pm</button></td>
			<td><button>12:15 pm</button></td>
			<td><button>12:15 pm</button></td>
			<td><button>12:15 pm</button></td>
			<td><button>12:15 pm</button></td> 
		</tr>
		<tr>
			<td><button>12:30 pm</button></td>
			<td><button>12:30 pm</button></td>
			<td><button>12:30 pm</button></td>
			<td><button>12:30 pm</button></td>
			<td><button>12:30 pm</button></td> 
		</tr>
		<tr>
			<td><button>12:45 pm</button></td>
			<td><button>12:45 pm</button></td>
			<td><button>12:45 pm</button></td>
			<td><button>12:45 pm</button></td>
			<td><button>12:45 pm</button></td> 
		</tr>
		<tr>
			<td><button>1 pm</button></td>
			<td><button>1 pm</button></td>
			<td><button>1 pm</button></td>
			<td><button>1 pm</button></td>
			<td><button>1 pm</button></td> 
		</tr>
		<tr>
			<td><button>1:15 pm</button></td>
			<td><button>1:15 pm</button></td>
			<td><button>1:15 pm</button></td>
			<td><button>1:15 pm</button></td>
			<td><button>1:15 pm</button></td> 
		</tr>
		<tr>
			<td><button>1:30 pm</button></td>
			<td><button>1:30 pm</button></td>
			<td><button>1:30 pm</button></td>
			<td><button>1:30 pm</button></td>
			<td><button>1:30 pm</button></td> 
		</tr>
		<tr>
			<td><button>1:45 pm</button></td>
			<td><button>1:45 pm</button></td>
			<td><button>1:45 pm</button></td>
			<td><button>1:45 pm</button></td>
			<td><button>1:45 pm</button></td> 
		</tr>
		<tr>
			<td><button>2 pm</button></td>
			<td><button>2 pm</button></td>
			<td><button>2 pm</button></td>
			<td><button>2 pm</button></td>
			<td><button>2 pm</button></td> 
		</tr>						
	</thead>

	</table>
</body>
</html>